.button {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  background-color: #7859cf;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  &:focus {
    background-color: #9070ec;
    outline: none;
  }

  &:hover {
    background-color: #9070ec;
  }

  &:active {
    background-color: #593cac;
    outline: none;
  }
}
