.catalog-filter {
  margin: 0 0 42px 0;

  @media (min-width: 768px) {
    margin: 0 0 22px 0;
  }

  @media (min-width: 1440px) {
    display: inline-block;
    max-width: 318px;
  }
}

.catalog-filter__form {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 250px 248px 210px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 320px;
  }
}

.catalog-filter__price {
  border: 0;
  margin: 0 0 24px 0;
  padding: 0;

  @media (min-width: 1440px) {
    margin: 0 0 30px 0;
  }
}

.catalog-filter__milk {
  border: 0;
  margin: 0 0 24px 0;
  padding: 0;

  @media (min-width: 1440px) {
    margin: 0 0 30px 0;
  }
}

.catalog-filter__country {
  border: 0;
  margin: 0 0 35px 0;
  padding: 0;

  @media (min-width: 768px) {
    margin: 0 0 35px 0;
  }

  @media (min-width: 1440px) {
    margin: 0 0 40px 0;
  }
}

.catalog-filter__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 32px -3px;

  @media (min-width: 768px) {
    margin: 0 0 30px 0;
  }
}

.catalog-filter__title--milk {
  margin-bottom: 22px;

  @media (min-width: 768px) {
    margin: 0 0 20px -2px;
  }
}

.catalog-filter__title--country {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin: 0 0 20px -2px;
  }
}

.catalog-filter__buttons {
  border: 0;
  margin: 0 0 20px 0;
  padding: 0;

  @media (min-width: 768px) {
    grid-column: 1 / -1;
    display: flex;
  }
}

.catalog-filter__button-submit {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding: 11px 15px 10px 15px;
  margin: 0 auto 24px 57px;

  @media (min-width: 768px) {
    font-size: 14px;
    margin: 5px 30px 0 180px;
    padding: 8px 4px;
  }

  @media (min-width: 1440px) {
    margin: 0 20px 0 0;
    padding: 8px 5px;
  }
}

.catalog-filter__button-reset {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 17px;
  border: none;
  color: #7859cf;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 0 0 57px;

  @media (min-width: 768px) {
    padding: 8px 6px;
    margin: 5px 0 0 0;
  }

  @media (min-width: 1440px) {
    margin: 0;
    padding: 8px 11px;
  }

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #9070ec;
    outline: none;
  }

  &:active {
    color: #ffffff;
    background-color: #593cac;
  }
}
