.map {
  min-width: 320px;
  min-height: 420px;
  background-image: url("../img/map.jpg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: 768px) {
    margin-bottom: 20px;
    min-width: 768px;
    min-height: 480px;
    background-image: url("../img/tablet/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  @media (min-width: 1440px) {
    margin-bottom: 10px;
    min-width: 1440px;
    min-height: 540px;
    background-image: url("../img/desktop/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/desktop/map-desktop@2x.jpg");
      background-size: 1440px auto;
    }
  }
}
