.slider__container {
  padding-left: 0;
  padding-right: 0;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__item {
  display: none;
}

.slider__item--active {
  display: block;
}

.slider__button-wrapper {
  position: relative;
}

.slider__radio-list {
  display: none;

  @media (min-width: 1440px) {
    display: flex;
    list-style-type: none;
    position: absolute;
    top: -82px;
    left: 619px;
    margin: 0;
    padding: 0;
  }
}

.slider__radio-item:not(:last-child) {
  margin-right: 8px;
}

.slider__radio-mark {
  padding: 10px 0;
  display: block;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 62px;
    height: 4px;
    background-color: #ffffff;
  }
}

.slider__radio-field:checked + .slider__radio-mark {
  &::after {
    background-color: #7859cf;
  }
}

.slider__radio-field:focus + .slider__radio-mark {
  &::after {
    background-color: rgba(120, 89, 207, 0.25);
  }
}

.slider__radio-field:hover + .slider__radio-mark {
  &::after {
    background-color: rgba(120, 89, 207, 0.25);
  }
}

.slider__button {
  display: block;
  width: 20px;
  height: 656px;
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;

  &:focus {
    background-color: #ffffff;
    outline: none;
  }

  &:hover {
    background-color: #ffffff;
  }

  @media (min-width: 768px) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: 1440px) {
    width: 80px;
    height: 712px;
  }
}

.slider__button--previous {
  top: -656px;
  left: 0;

  &::after {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    position: absolute;
    border-left: 2px solid #7859cf;
    border-bottom: 2px solid #7859cf;
    transform: translate(0, -5px) rotate(45deg);

    @media (min-width: 768px) {
      transform: translate(30px, -5px) rotate(45deg);
    }
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    &::after {
      border-left: 2px solid #bdbdbd;
      border-bottom: 2px solid #bdbdbd;
    }

    cursor: default;
  }

  @media (min-width: 768px) {
    left: 3px;
    top: -640px;
  }

  @media (min-width: 1440px) {
    left: 0;
    top: -712px;
  }
}

.slider__button--next {
  top: -656px;
  left: 300px;

  &::after {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    position: absolute;
    border-left: 2px solid #7859cf;
    border-bottom: 2px solid #7859cf;
    transform: translate(-8px, -5px) rotate(225deg);

    @media (min-width: 768px) {
      transform: translate(20px, -5px) rotate(225deg);
    }
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0) 0%, rgba(120, 89, 207, 0.25) 100%);
  }

  &:disabled {
    &::after {
      border-left: 2px solid #bdbdbd;
      border-bottom: 2px solid #bdbdbd;
    }

    cursor: default;
  }

  @media (min-width: 768px) {
    left: 690px;
    top: -640px;
  }


  @media (min-width: 1440px) {
    left: 1360px;
    top: -712px;
  }
}
